*.o

*.exe
*.out
*.a
*.so
*.dylib

*.dSYM/
*.core
*.stackdump

*.log
*.dep
*.d

tags
cscope.*

*.swp
*.swo
*.bak
*.tmp
*.~*
*.#*

/Makefile

*.config
config.log
config.status

/build/
/bin/
/obj/
/lib/

.DS_Store
Thumbs.db


/.vscode/